@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.tx_shadow {
    text-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.bx_shadow {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    animation: revertPosition 500ms forwards;
}

.bx_shadow:hover {
    animation: instaVideo 500ms forwards;
}

@keyframes instaVideo {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

@keyframes revertPosition {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}
